In [47]:
import pandas as pd
from io import StringIO

In [126]:

with open("588-ws-training.xml", "r", encoding="utf-8") as f:
    xml_data = f.read()

df = pd.read_xml(StringIO(xml_data), xpath="//event")
print(df.head())

                    ts  value ts_begin ts_end  type  dose  bwz_carb_input  \
0  30-08-2021 11:53:00  116.0     None   None  None   NaN             NaN
1  30-08-2021 11:58:00  117.0     None   None  None   NaN             NaN
2  30-08-2021 12:03:00  119.0     None   None  None   NaN             NaN
3  30-08-2021 12:08:00  116.0     None   None  None   NaN             NaN
4  30-08-2021 12:13:00  111.0     None   None  None   NaN             NaN

   carbs  quality  intensity description  symptom  duration  competitive  \
0    NaN      NaN        NaN        None      NaN       NaN          NaN
1    NaN      NaN        NaN        None      NaN       NaN          NaN
2    NaN      NaN        NaN        None      NaN       NaN          NaN
3    NaN      NaN        NaN        None      NaN       NaN          NaN
4    NaN      NaN        NaN        None      NaN       NaN          NaN

  tbegin  tend
0   None  None
1   None  None
2   None  None
3   None  None
4   None  None

In [113]:
len(df)

80062

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80062 entries, 0 to 80061
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ts              78682 non-null  object
 1   value           78443 non-null  float64
 2   ts_begin        298 non-null    object
 3   ts_end          297 non-null    object
 4   type            1524 non-null   object
 5   dose            182 non-null    float64
 6   bwz_carb_input  182 non-null    float64
 7   carbs           221 non-null    float64
 8   quality         1128 non-null   float64
 9   intensity       71 non-null     float64
 10  description     4 non-null      object
 11  symptom         0 non-null      float64
 12  duration        36 non-null     float64
 13  competitive     0 non-null      float64
 14  tbegin          1082 non-null   object
 15  tend            1082 non-null   object
dtypes: float64(9), object(7)
memory usage: 9.8+ MB

In [127]:
df["ts"] = pd.to_datetime(df["ts"], format="%d-%m-%Y %H:%M:%S")

In [128]:
df.head

<bound method NDFrame.head of                        ts  value ts_begin ts_end  type  dose  bwz_carb_input  \
0     2021-08-30 11:53:00  116.0     None   None  None   NaN             NaN
1     2021-08-30 11:58:00  117.0     None   None  None   NaN             NaN
2     2021-08-30 12:03:00  119.0     None   None  None   NaN             NaN
3     2021-08-30 12:08:00  116.0     None   None  None   NaN             NaN
4     2021-08-30 12:13:00  111.0     None   None  None   NaN             NaN
...                   ...    ...      ...    ...   ...   ...             ...
80057                 NaT    NaN     None   None         NaN             NaN
80058                 NaT    NaN     None   None         NaN             NaN
80059                 NaT    NaN     None   None         NaN             NaN
80060                 NaT    NaN     None   None         NaN             NaN
80061                 NaT    NaN     None   None         NaN             NaN

       carbs  quality  intensity description  symptom  duration  competitive  \
0        NaN      NaN        NaN        None      NaN       NaN          NaN
1        NaN      NaN        NaN        None      NaN       NaN          NaN
2        NaN      NaN        NaN        None      NaN       NaN          NaN
3        NaN      NaN        NaN        None      NaN       NaN          NaN
4        NaN      NaN        NaN        None      NaN       NaN          NaN
...      ...      ...        ...         ...      ...       ...          ...
80057    NaN     92.0        NaN        None      NaN       NaN          NaN
80058    NaN     92.0        NaN        None      NaN       NaN          NaN
80059    NaN     92.0        NaN        None      NaN       NaN          NaN
80060    NaN     92.0        NaN        None      NaN       NaN          NaN
80061    NaN     92.0        NaN        None      NaN       NaN          NaN

                    tbegin                 tend
0                     None                 None
1                     None                 None
2                     None                 None
3                     None                 None
4                     None                 None
...                    ...                  ...
80057  14-10-2021 22:49:00  14-10-2021 22:51:00
80058  14-10-2021 22:51:00  14-10-2021 23:00:00
80059  14-10-2021 23:00:00  14-10-2021 23:05:00
80060  14-10-2021 23:05:00  14-10-2021 23:47:00
80061  14-10-2021 23:47:00  15-10-2021 00:03:00

[80062 rows x 16 columns]>

In [129]:
df['사용자아이디']='sumin'

In [130]:
df.head()

,ts,value,ts_begin,ts_end,type,dose,bwz_carb_input,carbs,quality,intensity,description,symptom,duration,competitive,tbegin,tend,사용자아이디
0,2021-08-30 11:53:00,116.0,None,None,None,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,None,None,sumin
1,2021-08-30 11:58:00,117.0,None,None,None,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,None,None,sumin
2,2021-08-30 12:03:00,119.0,None,None,None,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,None,None,sumin
3,2021-08-30 12:08:00,116.0,None,None,None,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,None,None,sumin
4,2021-08-30 12:13:00,111.0,None,None,None,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,None,None,sumin

In [131]:
df=df.rename(columns={
    'ts' : 'measured_at',
    'value':'glucose_value',
    '사용자아이디':'user_id'})

In [132]:
df = df[['user_id', 'measured_at', 'glucose_value']]

In [134]:
# measured_at을 datetime으로 변환 (한번만 해주면 됨)
df["measured_at"] = pd.to_datetime(df["measured_at"], format="%Y-%m-%d %H:%M:%S")

# 2021-08-30 데이터만 필터링
df_filtered = df[df["measured_at"].dt.date == pd.to_datetime("2021-08-30").date()]

print(df_filtered)

      user_id         measured_at  glucose_value
0       sumin 2021-08-30 11:53:00          116.0
1       sumin 2021-08-30 11:58:00          117.0
2       sumin 2021-08-30 12:03:00          119.0
3       sumin 2021-08-30 12:08:00          116.0
4       sumin 2021-08-30 12:13:00          111.0
...       ...                 ...            ...
65833   sumin 2021-08-30 23:38:00            0.0
65834   sumin 2021-08-30 23:43:00            0.0
65835   sumin 2021-08-30 23:48:00            0.0
65836   sumin 2021-08-30 23:53:00            0.0
65837   sumin 2021-08-30 23:58:00            0.0

[945 rows x 3 columns]

In [135]:
df_filter = df_filtered.drop_duplicates(subset=["measured_at"], keep="first")

In [136]:
df_unique = df_filter.drop_duplicates(subset=["measured_at"], keep="first").reset_index(drop=True)
df_unique

    user_id         measured_at  glucose_value
0     sumin 2021-08-30 11:53:00          116.0
1     sumin 2021-08-30 11:58:00          117.0
2     sumin 2021-08-30 12:03:00          119.0
3     sumin 2021-08-30 12:08:00          116.0
4     sumin 2021-08-30 12:13:00          111.0
..      ...                 ...            ...
480   sumin 2021-08-30 11:28:00            0.0
481   sumin 2021-08-30 11:33:00            0.0
482   sumin 2021-08-30 11:38:00            0.0
483   sumin 2021-08-30 11:43:00            0.0
484   sumin 2021-08-30 11:48:00            0.0

[485 rows x 3 columns]

In [137]:
df_time_filtered = df_unique.dropna(axis=0).reset_index(drop=True)
# glucose_level을 int형으로 변환
df_time_filtered["glucose_value"] = df_time_filtered["glucose_value"].astype(int)

# glucose_level이 0인 데이터 제거
df_time_filtered = df_time_filtered[df_time_filtered["glucose_value"] != 0].reset_index(drop=True)

print(df_time_filtered)

    user_id         measured_at  glucose_value
0     sumin 2021-08-30 11:53:00            116
1     sumin 2021-08-30 11:58:00            117
2     sumin 2021-08-30 12:03:00            119
3     sumin 2021-08-30 12:08:00            116
4     sumin 2021-08-30 12:13:00            111
..      ...                 ...            ...
315   sumin 2021-08-30 23:54:00             67
316   sumin 2021-08-30 23:59:00             67
317   sumin 2021-08-30 12:05:00             91
318   sumin 2021-08-30 11:18:00             16
319   sumin 2021-08-30 11:23:00             53

[320 rows x 3 columns]

In [138]:
df_time_sorted = df_time_filtered.sort_values(by="measured_at", ascending=True).reset_index(drop=True)

print(df_time_sorted)

    user_id         measured_at  glucose_value
0     sumin 2021-08-30 04:00:00              1
1     sumin 2021-08-30 06:01:28            167
2     sumin 2021-08-30 06:46:08            169
3     sumin 2021-08-30 06:47:44            169
4     sumin 2021-08-30 07:00:00              1
..      ...                 ...            ...
315   sumin 2021-08-30 23:49:00             68
316   sumin 2021-08-30 23:53:00             98
317   sumin 2021-08-30 23:54:00             67
318   sumin 2021-08-30 23:58:00             98
319   sumin 2021-08-30 23:59:00             67

[320 rows x 3 columns]

In [139]:
df_time_sorted

    user_id         measured_at  glucose_value
0     sumin 2021-08-30 04:00:00              1
1     sumin 2021-08-30 06:01:28            167
2     sumin 2021-08-30 06:46:08            169
3     sumin 2021-08-30 06:47:44            169
4     sumin 2021-08-30 07:00:00              1
..      ...                 ...            ...
315   sumin 2021-08-30 23:49:00             68
316   sumin 2021-08-30 23:53:00             98
317   sumin 2021-08-30 23:54:00             67
318   sumin 2021-08-30 23:58:00             98
319   sumin 2021-08-30 23:59:00             67

[320 rows x 3 columns]

In [140]:
from sqlalchemy import create_engine

In [141]:
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/sugarcare")

# df를 MySQL 테이블로 저장
df_time_sorted.to_sql(
    name="glucose_level",   # 테이블명
    con=engine,
    if_exists="append",     # 이미 있으면 append / 없으면 새로 생성
    index=False
);